:root {
  --card-width: 120px;
}

html, body {
  overflow: hidden; /* Prevent scrolling */
  touch-action: manipulation; /* Allow touch interactions but prevent scrolling */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #e9c46a;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* Prevent sidescroll during touch events */
  max-width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #2a9d8f;
  color: white;
  font-size: 0.8em;
}

header {
  position: relative;
  background-color: #2a9d8f;
  width: 100%;
  text-align: center;
  padding: 4px;

  h1 {
    color: #eee;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-gap: 8px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 3px; /* Since there's a box-shadow to the right we gotta pad left to center */
  justify-content: center; /* Center the grid items */
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: var(--card-width);
  border-radius: 10px;
  background-color: #f9ffdf; /* Bone white would be fdfbf8 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(225, 208, 23, 0.5); /* Subtle shadow effect */
  cursor: pointer;
  user-select: none;
  color: #333;
  font-weight: bold;
  text-align: center;
  transition: transform 0.25s, background-color 0.5s, top 0.25s, left 0.25s;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.05);
  }

  &.selected {
    /* background-color: #264653;
    color: white; */
    transform: rotate(-2deg);
    outline: solid 3px #555;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(23, 18, 38, 0.5);
    background-color: #eee;
  }

  &.warn {
    background-color: #e76f51;
  }
  
  &.resolved {
    background: linear-gradient(145deg, #90ee90, #76c776); /* Green for resolved cards */
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.5); /* Subtle inset shadow */
    cursor: default;
  }
}


.correct-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
}

.theme {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items-list {
  grid-column: span 4;
  text-align: center;
  font-size: 1em;
  color: #333;
}

button {
  margin-top: 20px;
  padding: 6px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #2a9d8f;
  color: white;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  font-family: "Jost";
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); */

  @media (hover: hover) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
      background-color: #29bfae;
    }
  }

  &:disabled {
    background-color: gray;
    color: darkgray;
  }

  &:active {
    transform: translateY(1px);
    background-color: #26c6b4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.button-group {
  display: flex;
  gap: 10px;
}

.difficulty-selection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  label {
    font-weight: bold;
  }

  select {
    padding: 4px 4px;
    border-radius: 2px;
    border: 1px solid #2a9d8f;
    background-color: #f9ffdf;
    color: #333;
    font-family: "Jost", sans-serif;
    font-size: 0.7em;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #29bfae;
      box-shadow: 0 0 5px rgba(42, 157, 143, 0.5);
      outline: none;
    }

    &:hover {
      border-color: #29bfae;
    }
  }
}

.failed-guesses {
  h2,
  li {
    margin: 0;
  }

  h2 {
    font-size: 1.1em;
  }

  li {
    list-style: listemoji;
  }

  .failed-guesses-text {
    font-size: 0.7em;
  }
}

@counter-style listemoji {
  system: cyclic;
  symbols: "😀";
  suffix: " ";
}

.difficulty-level {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: right;
  justify-content: center;
  position: absolute;
  top: 0;  
  right: 0;
  padding: 0 12px;
  color: #eee;
}

@keyframes appear-animation-1 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(0.9);
  }
  75% {
    transform: rotate(270deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes appear-animation-2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1.1);
  }
  50% {
    transform: rotate(90deg) scale(0.9);
  }
  75% {
    transform: rotate(135deg) scale(1.05);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}

@keyframes appear-animation-3 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-45deg) scale(1.1);
  }
  50% {
    transform: rotate(-90deg) scale(0.9);
  }
  75% {
    transform: rotate(-135deg) scale(1.05);
  }
  100% {
    transform: rotate(-180deg) scale(1);
  }
}

.card.appear-animation-1 {
  animation: appear-animation-1 0.3s ease-in-out;
}

.card.appear-animation-2 {
  animation: appear-animation-2 0.2s ease-in-out;
}

.card.appear-animation-3 {
  animation: appear-animation-3 0.4s ease-in-out;
}