:root {
  --card-width: 120px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #e0f7e0; /* Spearmint green background */

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #709170;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}

h1 {
  color: #709170;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, var(--card-width));
  grid-gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: var(--card-width);
  border-radius: 10px;
  background: linear-gradient(145deg, #fdfbf8, #f2f1f0); /* Bone white gradient */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.5); /* Subtle shadow effect */
  cursor: pointer;
  user-select: none;
  color: #333;
  text-align: center;
  transition: transform 0.2s, background 0.2s, top 0.2s, left 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card.selected {
  background: linear-gradient(145deg, #e8e4db, #f9f6f1); /* Slightly darker bone white */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.5); /* Subtle inset shadow */
}

.card.resolved {
  background: linear-gradient(145deg, #90ee90, #76c776); /* Green for resolved cards */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.5); /* Subtle inset shadow */
  cursor: default;
}

#message {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
  min-height: 1.5em; /* Reserve space for the message */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  transition: background-color 0.2s;
  font-family: "Jost";
}

button:hover {
  background-color: #555;
}

.correct-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Must be as wide as the grid-container */
  width: calc((var(--card-width) * 4) + 40px);
  height: var(--card-width);
}

.theme {
  grid-column: span 4;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items-list {
  grid-column: span 4;
  text-align: center;
  font-size: 1em;
  color: #333;
}